---
title: Press 
---

%h1 Company 
%p 
  Nukomeet was founded in Paris in march 2012 by 
  = link_to 'Zaiste', 'http://zaiste.net'
  and
  = link_to 'Alban Leveau-Vallier', 'http://alban.leveau-vallier.com'
  , as a software warehouse and an incubator.
%p.one-third 
  %em Download the logo -->  
%p.one-third
  %a{:href => '/assets/images/logo.png'}
    %img{:alt => "logo", :src => "/assets/images/logo.png"}
%hr
%h2 Software warehouse

%section#porfolio-items.clearfix
  %article.one-fourth
    %h3
      Services
    %p 
      Nukomeet provides its clients with software development, technology consulting, social media management, server configuration, project specifications, applications crafting, and everything that a team of pluridisciplinary experts of the web can offer.
  %article.one-fourth
    %h3
      Clients
    %p
      Our clients go from the lonely entrepreneur that needs help on his specifications to the fortune 500 company that wants a new app. Some names are Custle, Ethos, Quickstudio, GDF Suez, Headlink, Quizztournament, Coab... 
  %article.one-fourth
    %h3
      Technology
    %p 
      At Nukomeet we have a tendency to favour the latest technologies: Ruby on Rails, Node.js, HTML5, CSS3, Javascript, Android, iOS, Clojure, Python
  %article.one-fourth.last
    %h3 Methodology
    %p 
      Agile, Scrum, XP, Test Driven Development. These are not buzzwords for us, they are guidelines and principles that we then adapt to every project.
%hr  
%h2 Incubator
%p
  At Nukomeet, every partner is encouraged to come up with his own ideas. The rest of the team then does its best to help him make it real.
%h3 Portfolio
%section#porfolio-items.clearfix
  %article.one-fourth
    %p 
      = link_to 'Coworfing', '/projects/coworfing/'
      (beta) is an applications for nomad workers to share the o share the places where they like to work: Cafés, bars, coworking spaces, librairies, airports, parks, and even their own homes. Developed in Ruby on Rails, using Postgresql.
  %article.one-fourth
    %p
      = link_to 'Slicecook', '/projects/slicecook/'
      (beta) is a curated marketplace for design slicing. We connect people who are looking for a quality design slicing with hand-picked coders all over the world, for any output format you can imagine: XHTML, Wordpress, Magento, Rails/Haml et al. Developed in Ruby on Rails, using Postgresql.
  %article.one-fourth
    %p
      = link_to 'Lawve.me', 'http://lawve.me'
      (prototype) automates and open-sources contract writing. It is developed in close association with the lawyers and entrepreneurs of 
      = link_to 'Sharelex', 'http://sharelex.org'
      , developed using Sinatra.
  %article.one-fourth.last
    %p
      = link_to 'Travailler Debout', 'http://travailler-debout.fr'
      (prototype) aims to sell stand up desks to the French market. It is developed using Wordpress.

%hr
%h1 The team
%p
  You can find a more complete description of the team on the 
  = link_to 'about page', '/about/', :target => '_blank'
%p
  %em
    Download some cool pictures here
%section#porfolio-items.clearfix
  %article.one-half
    %a{:href => '/assets/images/team_full.png'}
      %img{:alt => "logo", :src => "/assets/images/team_medium.png"}
  %article.one-half.last
    %a{:href => '/assets/images/team3_full.png'}
      %img{:alt => "logo", :src => "/assets/images/team3_medium.png"}
%hr
%h1 Values
%section#porfolio-items.clearfix
  %article.one-third
    %h3 Nomadism    
    %p We think that change is a powerful stimulus. We like to change our environment, to meet in different cities, and to tackle new projets and discover new technologies. Being in love of changes helps us to stay at the verge. 
  %article.one-third
    %h3 Creativity
    %p Everyone has its own method to stay creative. At Nukomeet each of us has it own rythm and way of doing the things that helps him come up with out-of-the box solutions.
  %article.one-third.last
    %h3 Autonomy
    %p There is no boss or hierarchy in the company. Each one can lead on a project or take a task the way he wants. It helps us to stay agile and highly motivated.
%hr
%h1 Mission
%p Nukomeet's mission is to increase the happiness of its members.


