%header.page-header
  %h1.page-title Meet The Guild 
  %h2.page-subdescription
    We have a 
    %strong flat organization. 
    We like to use the 
    %strong latest technologies. 
    We believe in 
    %strong social innovation. 
    We live in 
    %strong Paris, Poznan, Berlin and Montréal.
  %p 
    Ask us anything on our 
    = link_to 'Open Chat', 'https://www.hipchat.com/g4T5W6KqS'

.team-member.one-fourth
  %img.photo{alt: "", src: "http://cambelt.co/icon/avatar/220x245" }
    .content
      %h4.name Alban Leveau-Vallier 
      %span.job-title Gipsy Brain 
      %p Grew up as a nomad wandering between kingoms of Europes, learning languages and diving into the secrets of philosophy. As he grew up, he learnt how to mix HTML5/CSS3 formulas with Wordpress chants and Ruby on Rails incantations to create powerful virtual illusions. Some people say his ancestors were dragons. 
    / end .content
    %ul.social-links
      %li.github= link_to 'Github', 'http://github.com/albanlv'
      %li.twitter= link_to 'Twitter', 'http://twitter.com/albanlv'
      %li.linkedin= link_to 'LinkedIn', 'http://www.linkedin.com/in/albanlv'
      %li.email= link_to 'Email', 'mailto:albanlv@nukomeet.com'
    / end .social-links
/ end .team-member.one-fourth
.team-member.one-fourth
  %img.photo{alt: "", src: "http://cambelt.co/icon/avatar/220x245" }
    .content
      %h4.name Bartlomiej Wiaduch
      %span.job-title Ruby Chillout 
      %p Bartek is Rails wiz who likes to cast spells on every aspect of the object, to have power over it from the early beginning. His magic began from testing banking systems, casting on corporate ogres with Ruby and Rails.
    / end .content
    %ul.social-links
      %li.github= link_to 'Github', 'http://github.com/2can'
      %li.twitter= link_to 'Twitter', 'http://twitter.com/2can'
      %li.linkedin= link_to 'LinkedIn', 'http://pl.linkedin.com/pub/bartlomiej-wiaduch/1b/28/a3'
      %li.email= link_to 'Email', 'mailto:tukan2can@nukomeet.com'
    / end .social-links
/ end .team-member.one-fourth
.team-member.one-fourth
  %img.photo{alt: "", src: "http://cambelt.co/icon/avatar/220x245" }
    .content
      %h4.name Tomasz Kuklis 
      %span.job-title Mr Speed 
      %p is a mage, experienced with Ruby and mastering front-end spirits. He can summon powerful real-time, creatures using BackBone.js. His speed of casting spells is already legendary and he never lacks Mana.
    / end .content
    %ul.social-links
      %li.github= link_to 'Github', 'http://github.com/tomkuk'
      %li.twitter= link_to 'Twitter', 'http://twitter.com/tomkuk'
      %li.linkedin= link_to 'LinkedIn', 'http://pl.linkedin.com/in/tomaszkuklis'
      %li.email= link_to 'Email', 'mailto:tomkuk@nukomeet.com'
    / end .social-links
/ end .team-member.one-fourth
.team-member.one-fourth.last
  %img.photo{alt: "", src: "http://cambelt.co/icon/avatar/220x245" }
    .content
      %h4.name Zaiste! 
      %span.job-title λ aficionado
      %p Kind of Digital Zorro. He used to protect wealthy kingdoms using Java EE magic. Now he mainly casts his spells using Ruby &amp; Lisp dialects. He is fond of controlling text spirits thanks to his vast Vim knowledge. According to some legends as a child he lived among Unix daemons.
    / end .content
    %ul.social-links
      %li.github= link_to 'Github', 'http://github.com/zaiste'
      %li.twitter= link_to 'Twitter', 'http://twitter.com/zaiste'
      %li.linkedin= link_to 'LinkedIn', 'http://linkedin.com/in/zaiste'
      %li.email= link_to 'Email', 'mailto:zaiste@nukomeet.com'

%hr

%h4 Interns
.team-member.one-fourth
  %img.photo{alt: "", src: "http://cambelt.co/icon/avatar/220x245" }
    .content
      %h4.name Łukasz Kupś   
      %span.job-title Padawan 
      %p Equipped with his ruby sword and a pixel shield, Ofca is first Nukomeet's intern. Day by day he is gaining more and more exp from Rails raids with the guild. In his free time he develops his skills as a design Palladin. 

    %ul.social-links
      %li.github= link_to 'Github', 'http://github.com/ofcapl'
      %li.twitter= link_to 'Twitter', 'http://twitter.com/ofcapl'
      %li.linkedin= link_to 'LinkedIn', 'http://linkedin.com/in/ofcapl'
      %li.email= link_to 'Email', 'mailto:ofcapl@nukomeet.com'
