%h3 Testimonials

.one-half
  %blockquote
    I really enjoyed working with you guys and Adrien. I was blown away by the fact that I could reach out at basically any time and got super fast responses.
  %p
    %strong Emanuel
    = link_to 'Knowable', 'http://beta.knowable.org/'

.one-half.last
  %blockquote
    "Nukomeet delivered a very professional and thorough service which really helped Apoio clarify it's tech strategy. I highly recommend Nukomeet's expertise in the area of software planning and specification."
  %p
    %strong Rory Koehler,
    CEO
    = link_to 'Apoio', 'http://www.apoio.co/'

.one-half
  %blockquote
    I'd like to thanks Nukomeet again for their diligence in the mission we did together. The result is here and our client is satisfied. For us, the mission went well in general. We really liked Zaiste's availability and his responsiveness. Nothing to complain there. I can't judge the quality of the code but I can say that, first, the expected result was here, and, second, Zaiste was spontaneously solving problems we didn't think about beforehand.
  %p
    %strong Alexis Bourassé,
    Consultant at,
    = link_to 'Headlink Partners (Beijaflore Group)', 'http://www.headlink-partners.com/'

.one-half.last
  %blockquote
    I hired Zaiste and his team to help with setting up new infrastructure for our Rails applications, and to improve existing architecture. We had very smooth communication process. The team was always available to suggest changes and transfer their expertise. We were able to quickly advance with the project and I'm satisfied with results. If you are looking for a first-class Rails experts with DevOps knowledge, you should get in touch with Zaiste.
  %p
    %strong Capucine Surrel,
    Founder at
    = link_to 'Custle', 'http://www.custle.com/'

.one-half
  %blockquote
    It has been now more than a year that I work regularly with Alban, requiring his skills on diverse missions related to Wordpress development, web design, SEO, online identity, social media management, technology consulting and web marketing. He has always been efficient, understanding problems quickly, delivering on time with quality and providing the best service. I would definitely recommend him, for highly abstract problem solving, as well as very down to earth tasks.
  %p
    %strong Marie Boulet,
    Founder at
    = link_to 'Ethos', 'http://wwww.ethos.fr'

.one-half.last
  %blockquote
    Dear Alban, with regards to the assignment you did to help build web awareness of my new firm, I am extremely thankful and respectful for this outstanding contribution. Not only you picked right on the kind of image I wished to convey, you found the proper tone, which hit my target Managers perfectly. You also helped me in my first foot prints into the web communication. I wish the Clients of your new Company to get as great satisfaction in the long run
  %p
    %strong Jean-Philippe Caude,
    Founder at
    = link_to 'Caude Management', 'http://www.caudemanagement.com/'

.one-half
  %blockquote
    Our project is quite ambitious and far from straightforward concerning design and technological aspects. The underlying ontology of education is complex and touchy due to the great number of researchers implied in its formalization. The learning objects are described by complex normalized models and standards, related to such fields as semantic web and IA.
    Alban's team response to our interrogations and ambitions has been a real help. Their culture and intelligence allowed them to gain rapidly a very clear understanding of our business model and to place our discussions at the highest cultural level. The modernity of their technological approaches allowed them to propose the most pertinent and up to date solutions to our requests.
    Working with Nukomeet has been very productive and a real pleasure.
  %p
    %strong Jean-Baptiste Touchard,
    VP of Technology
    = link_to 'Education-et-numerique.org', 'http://education-et-numerique.org'

.one-half.last
  %blockquote
    Nukomeet helped our company to build a web presence on the Internet. We had very precise requirements that tthey understood right away. They work fast and are very reliable.
  %p
    %strong Rudy Guénaire,
    Founder at
    = link_to 'Paris New-York', 'http://pny-hamburgers.fr/'

