%nav#main-nav
  %ul
    %li= link_to_with_current 'Home', '/', ''
    %li= link_to_with_current 'About Us', '/about/', 'Who we are'
    %li= link_to_with_current 'Projects', '/projects/', 'What we work on'
    %li= link_to_with_current 'Products', '/products/', 'What we offer'
    %li= link_to_with_current 'Testimonials', '/testimonials/', 'Our references'
    %li= link_to_with_current 'Nulog', '/nulog/', 'Blog'
