%article.single-project
  %header.page-header
    %h1.page-title.align-left
      Project:
      = @item[:title]
    .clear

  #main
    .image-gallery-slider
      %ul
        - (@item[:gallery] || []).each do |el|
          %li
            %a.single-image{href: "#{el[:href]}", rel: "single-project", title: "#{el[:alt]}", target: "_blank"}
              %img{alt: "#{el[:alt]}", src: "#{el[:src]}"}

  #sidebar
    %h4 Overview
    %p
      = yield
    %p
    %h4 Technologies
    %ul.check
      - (@item[:technology] || []).each do |el|
        %li= el
    %p
      %a.button{href: "#{@item[:link]}"} View it
    %p
